<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coisas</title>
</head>
<body>
    <h1>Coisas</h1>
</body>
</html>